<!DOCTYPE html>
<html>
<head>
    <title>Process data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Select files to process</h1>
        <form id="file-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div><label for="{{ form.db_title.id_for_label }}">{{ form.db_title.label }}</label>{{ form.db_title }}</div>
            <div><label for="{{ form.feature_eng.id_for_label }}">{{ form.feature_eng.label }}</label>{{ form.feature_eng }}</div>
            <div><label for="{{ form.files.id_for_label }}">{{ form.files.label }}</label>{{ form.files }}</div>
            <div><label for="{{ form.start_row.id_for_label }}">{{ form.start_row.label }}</label>{{ form.start_row }}</div>
            <div><label for="end_row_input">{{ form.end_row.label }}</label><input type="number" name="end_row" id="end_row_input" required></div>
            <div id="columns-container"></div>
            <button type="submit">Save to database</button>
        </form>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#file-form').on('change', 'input[name="files"]', function() {
                    var selectedFiles = $('input[name="files"]:checked').map(function(){
                        return $(this).val();
                    }).get();
                    $.ajax({
                        url: "{% url 'update_process_data_form' %}",
                        method: "POST",
                        data: {
                            'files': selectedFiles,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(data){
                            $('#columns-container').html('');
                            for (var i = 0; i < data.columns.length; i++) {
                                var column = data.columns[i];
                                $('#columns-container').append(
                                    '<label><input type="checkbox" name="columns" value="' + column + '"> ' + column + '</label><br>'
                                );
                            }
                            $('#end_row_input').attr('max', data.max_rows).val(data.max_rows);
                            $('#column-container').show();
                        },
                        error: function(xhr, status, error) {
                            console.error("Error: ", error); // Debugging line
                        }
                    });
                });
            });
        </script>

    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to access more features.</p>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</body>
</html>
