<!DOCTYPE html>
<html>
<head>
    <title>Upload data</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Upload File</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to access more features.</p>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</body>
</html>