<!DOCTYPE html>
<html>
<head>
    <title>Upload data</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Upload File</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to access more features.</p>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    
    {% if form.errors %}
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>