<form id="sequential-model-form" method="post">
    {% csrf_token %}

    <div><label for="{{ form.features.id_for_label }}">{{ form.features.label }}</label>{{ form.features }}
    <label for="{{ form.feature_layer_type.id_for_label }}">{{ form.feature_layer_type.label }}</label>{{ form.feature_layer_type }}
    <label for="{{ form.feature_activation.id_for_label }}">{{ form.feature_activation.label }}</label>{{ form.feature_activation }}</div>

    <div>
        <label for="{{ form.hidden_layers.id_for_label }}">{{ form.hidden_layers.label }}</label>
        {{ form.hidden_layers }}
        <button type="button" id="increase-layers">+</button>
        <button type="button" id="decrease-layers">-</button>
    </div>
    
    <div id="hidden-layer-container">
        {% include 'partials/hidden_layer_form.html' %}
    </div>
    
    <div><label for="{{ form.outputs.id_for_label }}">{{ form.outputs.label }}</label>{{ form.outputs }}
    <label for="{{ form.output_layer_type.id_for_label }}">{{ form.output_layer_type.label }}</label>{{ form.output_layer_type }}
    <label for="{{ form.output_activation.id_for_label }}">{{ form.output_activation.label }}</label>{{ form.output_activation }}</div>

    <div><label for="{{ form.optimizer.id_for_label }}">{{ form.optimizer.label }}</label>{{ form.optimizer }}</div>
    <div><label for="{{ form.loss.id_for_label }}">{{ form.loss.label }}</label>{{ form.loss }}</div>
    <div><label for="{{ form.metrics.id_for_label }}">{{ form.metrics.label }}</label>{{ form.metrics }}</div>
    
</form>

<script type="text/javascript">
    $(document).ready(function() {
        function updateLayers() {
            let hiddenLayers = parseInt($('#id_hidden_layers').val());  // Fetch the latest value

            $.ajax({
                url: "{% url 'update_sequential_model_form' %}",
                method: "POST",
                data: {
                    'hidden_layers': hiddenLayers,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    $('#hidden-layer-container').html(data.hidden_layer_html);
                },
            });
        }

        // Initial update call if necessary
        updateLayers();

        $('#increase-layers').off('click').on('click', function() {
            let hiddenLayers = parseInt($('#id_hidden_layers').val());
            hiddenLayers += 1;
            $('#id_hidden_layers').val(hiddenLayers);
            updateLayers();
        });

        $('#decrease-layers').off('click').on('click', function() {
            let hiddenLayers = parseInt($('#id_hidden_layers').val());
            if (hiddenLayers > 1) {
                hiddenLayers -= 1;
                $('#id_hidden_layers').val(hiddenLayers);
                updateLayers();
            }
        });
    });
</script>
