{% extends 'base.html' %}

{% block title %}Build model{% endblock %}
{% block header %}Build model{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form id="model-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div><label for="{{ form.model_title.id_for_label }}">{{ form.model_title.label }}</label>{{ form.model_title }}</div>
            <div><label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>{{ form.comment }}</div>
            <div><label for="{{ form.model_type.id_for_label }}">{{ form.model_type.label }}</label>{{ form.model_type }}</div>

            <div id="model-form-container"></div>

            <button type="submit">Build model</button>
        </form>

        <script type="text/javascript">
            $(document).ready(function() {
                $('input[name="model_type"]').change(function() {
                    var modelType = $(this).val();
                    $.ajax({
                        url: "{% url 'update_select_model_form' %}",
                        method: "POST",
                        data: {
                            'model_type': modelType,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(data) {
                            $('#model-form-container').html(data.model_form_html);
                            // Evaluate the script within the inserted HTML
                            $('#model-form-container').find('script').each(function(){
                                $.globalEval(this.text || this.textContent || this.innerHTML || '');
                            });
                        }
                    });
                });
            });
        </script>
        
    {% endif %}
{% endblock %}
