{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Model summary{% endblock %}
{% block header %}Model summary: {{ model_metadata.title }}{% endblock %}

{% block content %}
    <pre>{{ model_summary }}</pre>
        
    <h2>Layers Information</h2>
    <table>
        <thead>
            <tr>
                <th>Layer Name</th>
                <th>Input Shape</th>
                <th>Output Shape</th>
                <th>Number of Parameters</th>
            </tr>
        </thead>
        <tbody>
            {% for layer in model_layers %}
            <tr>
                <td>{{ layer.name }}</td>
                <td>{{ layer.input_shape }}</td>
                <td>{{ layer.output_shape }}</td>
                <td>{{ layer.num_params }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
