{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}

{% block content %}
        <p> {{ message }}</p>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.first_name }}!</p>
        <p>This is your dashboard</p>
        <p><a href="{% url 'upload_files_form' %}">Upload files</a></p>
        <p><a href="{% url 'process_data_form' %}">Process datasets</a></p>
        <p><a href="{% url 'view_datasets' %}">View datasets</a></p>
        <p><a href="{% url 'build_model_form' %}">Build models</a></p>
        <p><a href="{% url 'train_model_form' %}">Train models</a></p>
        <p><a href="{% url 'view_models' %}">View models</a></p>
        <p><a href="{% url 'make_prediction_view' %}">Make predictions</a></p>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a> to access more features.</p>
    {% endif %}
{% endblock %}